.App {
}
.menu{
  color: white;
  background: #3e3e3e;
  height: 100vh;
  width: 250px;
  padding:20px;
}
.logo{
  font-size: 40px;
}
.logo-img{
  background: #afafaf;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  display: inline-block;
}
.new-note{
  display: flex;
}
.new-note-text{
  font-size: 25px;
  margin-left: 10px;
  margin-top: 20px;
}
.new-note-img{
  background: #46ff3a;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 20px;
}
.new-note-img1:first-child {
  transform: rotate(90deg);
}
.new-note-img1:last-child{

  position: relative;
  top:-21px;
}
.new-note-img1{
  height: 3px;
  margin-left: 7px;
  border-radius: 3px;
  width: 16px;
  background: white;
  display: inline-block;
}
